.wrapper {
    width: 100%;
    height: 100%;
    display: column;
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;

}

.teapage {
    height: 700px;
    width: 70%;
    margin: 10px 260px;
}

.empty {
    background-color: white;
    height: 20px;
}

.history {
    height: 1000px;
}

.footer {
    height: 220px;
    background-color: darkseagreen;
    text-align: center;
}

.ordering {
    list-style: none;
}

.name {
    height: 60px;
    display: flex;
    justify-content: center;
    background-color:darkseagreen;
}

.carousel-inner > .carousel-item > img {
    height: 850px;
}

.p {
    display: flex;
    justify-content: center;
}

.hot {
    display: flex;
    justify-content: center;
}

.google {
    width: 200px;
    height: 60px;
}

.app {
    width: 200px;
    height: 60px;
}

.bg-light {
    position: sticky;
    top: 0;
}

