.wrapper {
    width: 100%;
    height: 100%;
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;

}

.name {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color:darkseagreen;
}

.empty {
    background-color: white;
    height: 70px;
}

.connection {
    height: 600px;
    display:flex;
    justify-content: center;
    text-align: center;
}


.btn-primary {
    background-color: darkseagreen;
    border: darkseagreen;
}

.btn-primary:hover {
    background-color: rgb(92, 130, 92);
}

.google {
    width: 200px;
    height: 60px;
}

.app {
    width: 200px;
    height: 60px;
}

.footer {
    height: 220px;
    background-color: darkseagreen;
    text-align: center;
}

.ordering {
    list-style: none;
}

@font-face {
	font-family: 'PosteRetro';
	src: url('../fonts/posteretro.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/posteretro.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/posteretro.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/posteretro.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/posteretro.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/posteretro.svg#posteretro') format('svg'); /* Chrome < 4, Legacy iOS */
}

.name {
    font-family: 'PosteRetro';
}