.wrapper {
    width: 100%;
    height: 100%;
    display: column;
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;

}

.teapage {
    height: 600px;
    width: 80%;
    margin: 10px 150px;
}

.empty {
    background-color: white;
    height: 20px;
}

.history {
    height: 1000px;
}

.footer {
    height: 220px;
    background-color: darkseagreen;
    text-align: center;
}

.ordering {
    list-style: none;
}

.name {
    height: 60px;
    display: flex;
    justify-content: center;
    background-color:darkseagreen;
}

.carousel-inner > .carousel-item > img {
    height: 850px;
}

.p {
    display: flex;
    justify-content: center;
}

.hot {
    display: flex;
    justify-content: center;
}

.google {
    width: 200px;
    height: 60px;
}

.app {
    width: 200px;
    height: 60px;
}

.bg-light {
    position: sticky;
    top: 0;
}

@font-face {
	font-family: 'PosteRetro';
	src: url('../fonts/posteretro.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/posteretro.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/posteretro.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/posteretro.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/posteretro.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/posteretro.svg#posteretro') format('svg'); /* Chrome < 4, Legacy iOS */
}
* {
    font-family: 'PosteRetro';
}