.wrapper {
    display: flex;
    height: 100px;
    align-items:center;
    background-color:lavender;
}

.red {
    width: 50px;
    height: 30px;
    background-color: orangered;
}

.green {
    width: 70px;
    height: 40px;
    background-color:lawngreen;
    align-self: flex-end;
}

.blue {
    width: 70px;
    height: 70px;
    background-color:royalblue;
    margin: 10px 5px;
    padding: 50px;
}

.yellow {
    width: 70px;
    height: 90px;
    background-color:rgb(255, 208, 0);
    align-self: flex-start;
}