* {
    margin: 0;
    padding: 0;
}

p {
    background-color: lightsteelblue;
}

div {
    border: 3px solid black;
}

#position-r {
    position: relative;
    top: 40px;
    left: 50px;
    background-color: cadetblue;
    opacity: 0.5;
}

#position-a {
    position: absolute;
    background-color: cornflowerblue;
    top: 0;
    right: 0;
}

#position-f {
    position: fixed;
    bottom: 50px;
    left: 50px;
    background-color: lightslategrey;
}

.position-s {
    position: sticky;
    top: 0;
}