table, button {
    width: 45px;
    height: 20px;
}

table, td {
    border: 1px solid aliceblue;
}

td {
    width: 45px;
    height: 20px;
}

.wrapper {
    border: 5px solid orange;
    width: 515px;
    background-color: aliceblue;
}

.num {
    width: 495px;
    height: 30px;
}