.wrapper {
    display: grid;
    grid-template-areas: "on on on"
                         "tw tr fo"
                         "fi fi fi";
    gap: 5px;
    grid-template-columns: 4fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

.one {
    background-color: blanchedalmond;
    grid-area: on;
}

.two {
    background-color: blanchedalmond;
    grid-area: tw;
}

.tre {
    background-color: blanchedalmond;
    grid-area: tr;
}

.four {
    background-color: blanchedalmond;
    grid-area: fo;
}

.five {
    background-color: blanchedalmond;
    grid-area: fi;
}